<html>
<head>
    <title>Backend - Login</title>
    <meta charset="UTF-8">
</head>
<body>
<table>
    <tr>
        <td><img src="https://github.com/{{ username }}.png?size=150" width="150" height="150"> </td>
        <td>
            <a href="https://github.com/{{ username }}"><h2>{{ username }}</h2></a>
            <h4>Contributions ({{ year }}): {{ contributions }}</h4>
            <h4>Email: 
            <a href="mailto:{{ email }}">{{ email }}</a>
            </h4> 
        </td>
    </tr>
    <tr>
        <td>
            <h3>Languages:</h3><br>
            {% for language in languages %}
            <p> - {{ language[0] }}</p><br>
            {% endfor %}
        </td>
    </tr>
</table>
</body>
</html>
<style>
    td {
        line-height: 10px;
        vertical-align: top;
    }
</style>